body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.cursor {
    position: absolute;
    width: 20px;
    /* 圓圈直徑 */
    height: 20px;
    /* 圓圈直徑 */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    /* 使圓圈不會干擾鼠標事件 */
    transition: transform 0.2s ease;
    backdrop-filter: invert(90%);
    /* 模糊效果，像底片 */
    transform-style: preserve-3d;
    /* 保持 3D 效果 */
    z-index: 99999999999999;
}

.cursor:hover {
    transform: scale(1.3) translateZ(10px);
    /* 懸停時放大並添加透視效果 */
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}


/*全部*/

.all {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.main1 {
    width: 100%;
    height: 33vw;
    position: relative;
    z-index: 2;
}

.info {
    width: 28vw;
    height: 37vw;
    position: absolute !important;
    left: 59vw !important;
    top: 7vw !important;
    font-family: "Sorts Mill Goudy", serif, 'Noto Serif TC';
    color: #333;
    z-index: 99;
    overflow: hidden;
}

.info h2 {
    margin: 0;
    font-size: 4vw;
    line-height: 6vw;
    letter-spacing: 0.05vw;
}

.info h4 {
    margin: 0 0 4.6vw 0.5vw;
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 2.5vw;
    letter-spacing: 0.05vw;
}

.info h5 {
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
    line-height: 2vw;
    letter-spacing: 0.05vw;
}

.info ul {
    padding: 0;
    list-style: none;
    margin: 0 0 0 1.5vw;
}

.info ul li {
    margin: 0;
    padding: 0;
    position: relative;
}

.info ul li>a {
    display: block;
    cursor: pointer;
    color: #333;
}

.info h6 {
    margin: 3vw 0 4.6vw 0.5vw;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 2vw;
    letter-spacing: 0.35vw;
    position: relative;
}

.skill {
    animation: skill-color 15s infinite;
}

@keyframes skill-color {
    0% {
        color: rgb(248, 95, 78);
    }
    20% {
        color: #f8d142;
    }
    40% {
        color: #30f5d7;
    }
    60% {
        color: #31a8f8;
    }
    80% {
        color: #c132f6;
    }
    100% {
        color: rgb(248, 95, 78);
    }
}

.info h6 ul li {
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 2vw;
    letter-spacing: 0.05vw;
}

.info h6 ul {
    margin: 0 0 0 1vw;
}

.info h6::after {
    content: "";
    width: 17.8vw;
    height: 1px;
    position: absolute;
    left: 6.7vw;
    top: 0.8vw;
    animation: menu-color 15s infinite;
}

.phone,
.mail {
    width: 1.2vw;
    position: absolute;
    display: block;
    left: 5.5vw;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.mail {
    left: 12.2vw;
}

.phone-a:hover .phone,
.mail-a:hover .mail {
    top: 50%;
    animation: phone 1s infinite ease;
}

.phone-a:hover,
.mail-a:hover {
    opacity: 0.6;
}

@keyframes phone {
    0% {
        top: 50%
    }
    50% {
        top: 30%
    }
    100% {
        top: 50%
    }
}

.info ul li::after {
    content: ".";
    position: absolute;
    left: -1vw;
    top: -0.4vw;
    font-size: 2vw;
}

.pic {
    width: 25vw;
    height: 25vw;
    transform: translate3d(0, 0, 0);
    position: absolute;
    left: 18vw!important;
    top: 10vw!important;
    z-index: 9;
}

.wave-bg {
    width: 100%;
    height: 41vw;
    position: absolute;
    top: 0%;
    left: 0;
    transform-origin: center;
    overflow: hidden;
    z-index: 9;
}

.wave-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wave {
    width: 100%;
    height: 100%;
    border-radius: 43%;
    position: absolute;
    top: 0%;
    left: 0;
    transform-origin: center;
    animation: drift 7s infinite linear;
    overflow: hidden;
    background-color: #fff;
}

@keyframes bg-color {
    0% {
        background-color: #fce9e7;
    }
    20% {
        background-color: #fdf7e2;
    }
    40% {
        background-color: #e3f6f3;
    }
    60% {
        background-color: #e6f2fa;
    }
    80% {
        background-color: #f3ebf6;
    }
    100% {
        background-color: #fce9e7;
    }
}

.wave.two {
    width: 116%;
    height: 116%;
    left: -8%;
    top: -8%;
    animation: drift 10s infinite linear, rotation 10s infinite linear, bg-color 15s infinite;
}

.wave.three {
    width: 124%;
    height: 124%;
    left: -12%;
    top: -12%;
    animation: drift 14s infinite linear, rotation 14s infinite linear, bg-color 15s infinite;
    opacity: 0.5;
}

@keyframes rotation {
    to {
        transform: rotate(360deg)
    }
}

@keyframes drift {
    0%,
    100% {
        border-radius: 94% 51% 83% 69% / 87% 61% 75% 65%;
    }
    20% {
        border-radius: 70% 58% 67% 73% / 75% 65% 64% 60%;
    }
    40% {
        border-radius: 80% 77% 59% 76% / 80% 87% 59% 70%;
    }
    60% {
        border-radius: 83% 89% 83% 77% / 83% 74% 88% 84%;
    }
    80% {
        border-radius: 81% 70% 58% 70% / 57% 88% 72% 92%;
    }
}

.main2 {
    width: 100%;
    height: auto;
    position: relative;
}

.banner {
    width: 100%;
    position: relative;
    margin: -1vw 0 0 0;
    opacity: 0.7;
}

.banner-waves {
    width: 200vw;
    height: 200vw;
    position: absolute;
    left: -45vw;
    top: -149vw;
    z-index: 1;
    transform: translate3d(0, 0, 0);
}

.banner-waves2 {
    width: 500vw;
    height: 500vw;
    top: 100vw;
    left: -200vw;
}

.waves {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 43%;
    position: absolute;
    top: 0%;
    left: 0;
    transform-origin: center;
    animation: drifts 9s infinite linear;
}

.banner-waves2 .waves {
    border-radius: 95% 91% 93% 91% / 93% 91% 90% 91%;
}

.waves.two {
    animation: drifts 12s infinite linear;
    opacity: 0.4;
}

.waves.three {
    animation: drifts 15s infinite linear;
    opacity: 0.1;
}

@keyframes drifts {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about-me {
    width: 40vw;
    position: absolute;
    left: 49vw;
    top: 35vw;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    margin: 0;
    font-size: 0.9vw;
    line-height: 1.5vw;
    letter-spacing: 0.05vw;
    text-align: justify;
    text-justify: inter-ideograph;
}

.about-me-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    filter: blur(5vw);
}

.about-me-txt {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.main3 {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    margin: 0 0 16vw 0;
}

.experience {
    width: 53vw;
    position: relative;
    margin: 3vw auto 0 auto;
}

.h2 {
    display: inline-block;
}

.experience>h2 {
    font-family: "Sorts Mill Goudy", serif, 'Noto Serif TC';
    color: #333;
    margin: 0 0 18vw 0;
    font-size: 3.2vw;
    line-height: 4.5vw;
    letter-spacing: 0.2vw;
    text-align: center;
    position: relative;
}

.experience>h2::after {
    content: "";
    width: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6vw;
    animation: menu-color 15s infinite, experience-line 1.5s infinite ease alternate;
}

@keyframes experience-line {
    0% {
        height: 0vw;
    }
    100% {
        height: 7vw;
    }
}

.experience>h2 .dot {
    left: 50%;
    transform: translateX(-50%);
    animation: experience-dot 1.5s infinite ease alternate;
}

.experience>h2 .wave-dot:first-child {
    opacity: 1;
}

@keyframes experience-dot {
    0% {
        top: 5.5vw;
    }
    100% {
        top: 13vw;
    }
}

.experience-li {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 0 6vw 0;
}

.experience-li::after {
    content: "";
    clear: both;
    display: block;
}

.experience-txt {
    position: absolute;
    left: 0;
    top: 0;
}

.experience-txt>h2 {
    font-family: "Sorts Mill Goudy", serif, 'Noto Serif TC';
    color: #333;
    margin: 0 0 0vw 0;
    font-size: 1.8vw;
    line-height: 2.5vw;
    letter-spacing: 0.1vw;
    animation: skill-color 15s infinite;
}

.experience-txt>h3 {
    font-family: "Sorts Mill Goudy", serif, 'Noto Serif TC';
    color: #333;
    margin: 0 0 1vw 0;
    font-size: 1.8vw;
    line-height: 2.5vw;
    letter-spacing: 0.1vw;
}

.experience-txt>h4 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    margin: 0 0 0vw 0;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: 0.03vw;
    font-weight: normal;
}

.experience-txt>h5 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #777777;
    margin: 0 0 0vw 0;
    font-size: 0.8vw;
    line-height: 1vw;
    letter-spacing: 0.03vw;
    font-style: italic;
    font-weight: normal;
}

.experience-li ul {
    width: 26vw;
    margin: 0.5vw 0 0 0;
    padding: 0;
    list-style: none;
    float: right;
}

.experience-li ul li {
    margin: 0 0 1vw 0;
    padding: 0;
    position: relative;
    font-family: "Sorts Mill Goudy", serif, 'Noto Serif TC';
}

.experience-li ul li::after {
    content: ".";
    position: absolute;
    left: -1vw;
    top: -0.8vw;
    font-size: 2vw;
}

.experience-li ul li h2 {
    font-family: "Sorts Mill Goudy", serif, 'Noto Serif TC';
    color: #333;
    margin: 0 0 0vw 0;
    font-size: 1vw;
    line-height: 2.2vw;
    letter-spacing: 0.1vw;
}

.experience-li ul li h4 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #8e8d8d;
    margin: 0 0 0vw 0;
    font-size: 0.8vw;
    line-height: 1.2vw;
    letter-spacing: 0.03vw;
    font-weight: normal;
}

@media all and (max-width: 1240px) {
    .main1 {
        height: 52vw;
    }
    .pic {
        top: 19vw !important;
    }
    .wave-bg {
        height: 42vw;
    }
    .banner-waves {
        top: -128vw;
    }
    .banner-waves2 {
        top: 123vw;
    }
    .info {
        width: 42vw;
        height: 49vw;
        left: 54vw !important;
        top: 9vw !important;
    }
    .info h2 {
        font-size: 5vw;
        line-height: 7vw;
        letter-spacing: 0.1vw;
    }
    .info h4 {
        font-size: 1.8vw;
        line-height: 3.5vw;
        letter-spacing: 0.08vw;
    }
    .info h5 {
        font-size: 1.5vw;
        line-height: 3vw;
        letter-spacing: 0.08vw;
    }
    .info ul li::after {
        left: -1.5vw;
        top: -0.5vw;
        font-size: 3vw;
    }
    .info ul {
        margin: 0 0 0 2.5vw;
    }
    .phone,
    .mail {
        width: 1.8vw;
        left: 8.5vw;
    }
    .mail {
        left: 18.5vw;
    }
    .info h6 {
        margin: 3vw 0 4.6vw 0.9vw;
        font-size: 1.7vw;
        line-height: 3vw;
        letter-spacing: 0.5vw;
    }
    .info h6::after {
        width: 23.8vw;
        left: 9.3vw;
        top: 1.2vw;
    }
    .info h6 ul {
        margin: 0 0 0 1.5vw;
    }
    .info h6 ul li {
        font-size: 1.5vw;
        line-height: 3vw;
        letter-spacing: 0.08vw;
    }
    .about-me {
        width: 68vw;
        left: 26vw;
        top: 33vw;
        font-size: 1.3vw;
        line-height: 2vw;
        letter-spacing: 0.1vw;
    }
    .experience {
        width: 63vw;
        margin: 16vw auto 0 auto;
    }
    .experience>h2 {
        font-size: 4.2vw;
        line-height: 5.5vw;
    }
    .experience-li {
        min-height: 13vw;
        margin: 0 0 8vw 0;
    }
    .experience-txt>h2 {
        margin: 0 0 0.3vw 0;
        font-size: 2.8vw;
        line-height: 3.5vw;
        letter-spacing: 0.1vw;
    }
    .experience-txt>h3 {
        margin: 0 0 2vw 0;
        font-size: 2.5vw;
        line-height: 2.5vw;
        letter-spacing: 0.1vw;
    }
    .experience-txt>h4 {
        margin: 0 0 0vw 0;
        font-size: 1.5vw;
        line-height: 2vw;
    }
    .experience-txt>h5 {
        margin: 0 0 0vw 0;
        font-size: 1.2vw;
        line-height: 2vw;
    }
    .experience-li ul {
        width: 31vw;
    }
    .experience-li ul li {
        margin: 0 0 1vw 0;
    }
    .experience-li ul li h2 {
        margin: 0 0 0vw 0;
        font-size: 1.3vw;
        line-height: 2.2vw;
        letter-spacing: 0.1vw;
    }
    .experience-li ul li::after {
        left: -1.5vw;
        top: -1.6vw;
        font-size: 3vw;
    }
    .experience-li ul li h4 {
        font-size: 1vw;
        line-height: 1.6vw;
    }
}

@media all and (max-width: 1024px) {
    .about-me {
        font-size: 1.5vw;
        line-height: 2.2vw;
    }
    .experience-li ul li {
        margin: 0 0 2vw 0;
    }
    .experience-li ul li h2 {
        font-size: 1.5vw;
    }
    .experience-li ul li h4 {
        font-size: 1.2vw;
    }
}

@media all and (max-width: 860px) {
    .main1 {
        height: 160vw;
    }
    .banner {
        margin: -9vw 0 0 0;
    }
    .banner-waves {
        top: -16vw;
        left: -48vw;
    }
    .banner-waves2 {
        top: 238vw;
        left: -200vw;
    }
    .pic {
        width: 47vw;
        height: 47vw;
        left: 26.5vw !important;
        top: 34vw !important;
    }
    .wave-bg {
        height: 77vw;
    }
    .info {
        width: 60vw;
        height: 88vw;
        left: 25vw !important;
        top: 94vw !important;
    }
    .info h2 {
        font-size: 7vw;
        line-height: 11vw;
        letter-spacing: 0.2vw;
    }
    .info h4 {
        font-size: 2.3vw;
        line-height: 4.5vw;
        letter-spacing: 0.15vw;
        margin: 0 0 7.6vw 0.5vw;
    }
    .info h5 {
        font-size: 2.1vw;
        line-height: 5vw;
        letter-spacing: 0.2vw;
    }
    .info h6 {
        font-size: 2.4vw;
        line-height: 4vw;
        letter-spacing: 0.8vw;
    }
    .info ul li::after {
        left: -1.5vw;
        top: -0.5vw;
        font-size: 4vw;
    }
    .info h6 ul li {
        font-size: 2.1vw;
        line-height: 5vw;
        letter-spacing: 0.2vw;
    }
    .phone,
    .mail {
        width: 2.6vw;
        left: 12.5vw;
    }
    .mail {
        left: 27.5vw;
    }
    .info h6::after {
        width: 35.55vw;
        left: 13.7vw;
        top: 1.56vw;
    }
    .about-me {
        width: 87vw;
        font-size: 1.8vw;
        line-height: 2.6vw;
        left: 6.5vw;
        top: 42vw;
    }
    .experience {
        width: 60vw;
        margin: 24vw auto 0 auto;
    }
    .experience>h2 {
        margin: 0 0 25vw 0;
    }
    @keyframes experience-line {
        0% {
            height: 0vw;
        }
        100% {
            height: 10vw;
        }
    }
    @keyframes experience-dot {
        0% {
            top: 5.5vw;
        }
        100% {
            top: 15vw;
        }
    }
    .experience-txt {
        position: relative;
        margin: 0 0 8vw 0;
    }
    .experience-li ul {
        width: 100%;
        margin: 0 0 0 1.7vw;
        float: none;
    }
    .experience-li {
        margin: 0 0 15vw 0;
    }
    .experience-txt>h2 {
        font-size: 3.8vw;
        line-height: 6vw;
    }
    .experience-txt>h3 {
        font-size: 3.2vw;
        line-height: 3.5vw;
    }
    .experience-txt>h4 {
        font-size: 2vw;
        line-height: 2.8vw;
    }
    .experience-txt>h5 {
        font-size: 1.5vw;
    }
    .experience-li ul li {
        margin: 0 0 3vw 0;
    }
    .experience-li ul li h2 {
        font-size: 1.85vw;
        margin: 0 0 0.8vw 0;
        line-height: 2.5vw;
    }
    .experience-li ul li h4 {
        font-size: 1.5vw;
        line-height: 2vw;
    }
    .experience-li ul li::after {
        left: -1.5vw;
        top: -2.6vw;
        font-size: 4vw;
    }
}

@media all and (max-width: 720px) {
    .main1 {
        height: 207vw;
    }
    .banner {
        margin: -23vw 0 0 0;
    }
    .banner img {
        width: 200%;
        margin: 0 0 0 -50%;
    }
    .info {
        width: 87vw;
        height: 120vw;
        left: 11vw !important;
        top: 98vw !important;
    }
    .info ul {
        margin: 0 0 0 3.5vw;
    }
    .info ul li::after {
        left: -2.5vw;
        top: -1.2vw;
        font-size: 6vw;
    }
    .info h2 {
        font-size: 11vw;
        line-height: 16vw;
    }
    .info h4 {
        font-size: 4vw;
        line-height: 6.8vw;
        margin: 0 0 12.6vw 0.5vw;
    }
    .info h5 {
        font-size: 3.5vw;
        line-height: 7vw;
    }
    .info h6 {
        margin: 5vw 0 4.6vw 0.9vw;
        font-size: 4.4vw;
        line-height: 8vw;
        letter-spacing: 1vw;
    }
    .info h6 ul li {
        font-size: 3.5vw;
        line-height: 7vw;
    }
    .info h6 ul {
        margin: 0 0 0 3.5vw;
    }
    .info h6 ul li::after {
        left: -2.5vw;
        top: -1.2vw;
        font-size: 6vw;
    }
    .info h6::after {
        width: 53.6vw;
        left: 22.7vw;
        top: 3.2vw;
    }
    .phone,
    .mail {
        width: 3.6vw;
        left: 16.5vw;
    }
    .mail {
        left: 35.5vw;
    }
    .banner-waves {
        top: 30vw;
    }
    .banner-waves2 {
        top: 349vw;
        left: -200vw;
    }
    .about-me {
        width: 90vw;
        font-size: 3vw;
        line-height: 4vw;
        left: 5vw;
        top: 66vw;
    }
    .experience {
        width: 70vw;
        margin: 36vw auto 0 auto;
    }
    .experience>h2 {
        font-size: 7.2vw;
        line-height: 12.5vw;
        margin: 0 0 35vw 0;
    }
    .experience>h2::after {
        top: 13vw;
    }
    @keyframes experience-line {
        0% {
            height: 0vw;
        }
        100% {
            height: 16vw;
        }
    }
    @keyframes experience-dot {
        0% {
            top: 10.5vw;
        }
        100% {
            top: 29vw;
        }
    }
    .experience-txt>h2 {
        font-size: 6.8vw;
        line-height: 11vw;
    }
    .experience-txt>h3 {
        font-size: 4.2vw;
        line-height: 5.5vw;
    }
    .experience-txt>h4 {
        font-size: 3.5vw;
        line-height: 5.8vw;
    }
    .experience-txt>h5 {
        font-size: 2.8vw;
        line-height: 3vw;
    }
    .experience-li ul li h2 {
        font-size: 3vw;
        margin: 0 0 0.4vw 0;
        line-height: 5.5vw;
    }
    .experience-li ul li h4 {
        font-size: 2.8vw;
        line-height: 4vw;
    }
    .experience-li ul li {
        margin: 0 0 4vw 0;
    }
    .experience-li ul {
        margin: 0 0 0 2.9vw;
    }
    .experience-li ul li::after {
        left: -2.5vw;
        top: -3vw;
        font-size: 6vw;
    }
}